.button {
  border: 0;
  border-radius: 4px;
  padding: 8px 12px;
  text-decoration: none !important;
  cursor: pointer;
}

.button-primary {
  color: #fff !important;
  background-color: var(--primary-color) !important;

  &:hover {
    color: #fff !important;
    background-color: var(--primary-color-hover) !important;
  }
}

.button-secondary {
  color: var(--text-color) !important;
  background-color: var(--secondary-color) !important;

  &:hover {
    color: var(--text-color) !important;
    background-color: var(--secondary-color-hover) !important;
  }
}
