.card {
  margin-bottom: 1rem;
  padding: 1rem;
  font-size: 0.875rem;
  background: #fff;
  box-shadow: 0 0 0 0 rgba(90, 113, 208, 0.11), 0 4px 16px 0 rgba(167, 175, 183, 0.33);
  overflow: auto;
}

.card-title {
  margin-top: 0;
  font-size: 1em;
}

// FIXME: bad name
.boxes {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  margin-bottom: 1rem;
}

.boxes > .card {
  margin-bottom: 0;
}

