table {
  width: 100%;

  tr {
    border-top: 1px solid #dee2e6;
  }

  thead tr:first-child {
    border-top: 0;
  }

  th {
    text-align: left;
    font-weight: bold;
  }

  th, td {
    padding: 0.75rem 0.9375rem;
    line-height: 1rem;
  }
}
